<!-- <FlexboxLayout class="page">
<StackLayout class="form">
        <StackLayout class="input-field">
                <TextField class="input" hint="Email" keyboardType="email" autocorrect="false" autocapitalizationType="none"></TextField>
            </StackLayout>

        <StackLayout class="input-field">
          <TextField hint="Password" class="input"></TextField>
        </StackLayout>

        <Button text="Log In" class="btn btn-primary"></Button>
        <Label text="Don’t have an account?"></Label>

</StackLayout>

</FlexboxLayout> -->

<ActionBar title="{RR} Login Example"></ActionBar>
    <StackLayout class="form" padding="15" backgroundColor="#59FFFFFF" style="height: 35%; margin-bottom: -320">
        <StackLayout class="input-field">
            <Label text="Email" style="color: #DB5252" class="label font-weight-bold m-b-5"></Label>
            <TextField style="color: #DB5252" class="input" [(ngModel)]="user.email"></TextField>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>
        <StackLayout class="input-field">
            <Label text="Password" style="color: #DB5252" class="label font-weight-bold m-b-5"></Label>
            <TextField secure="true" style="color: #DB5252" class="input" [(ngModel)]="user.password"></TextField>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>
        <Button class="btn btn-primary w-full" backgroundColor="#DB5252" text="Login" (tap)="login()"></Button>
        <Label [nsRouterLink]="['/register']" text="Not a member? Register here." style="color: rgb(122, 20, 20);" class="text-center footnote"></Label>
    </StackLayout>
